body{
    margin: 0;
    overflow: hidden;
    background-color: #5ADBFF !important;
}

#board{
	padding-left: 250px;
	padding-top: 60px;
	width: 60%;
	height: 50vh;
	background-color: blue;
	padding-bottom: 40%;
}

.cell{
	padding-left: 20px;
	width: 90px;
	height: 90px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: white;
}



h1{
	 color: #E01A4F !important;
}

