body{
    background-color: #5ADBFF !important;
}

h1{
	 color: #E01A4F !important;
	 font-family: 'Spicy Rice', cursive;
}

h4{
	color: #E01A4F !important;
	font-family: 'Spicy Rice', cursive;
}

h5 {
	color: #F15946 !important;
	font-family: 'Spicy Rice', cursive;
	text-align: center;
}

.name-container{
	text-align: center;
}

.all-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

.prompt{
	border-radius: 10px;
  	border: 2px solid #E01A4F;
  	padding-left: 5px;
}

.code-container{
	order: 1;
	width: 40%;
	background-clip: content-box;
	padding-left: 5%;
}

.play-container{
	order: 2;
	padding-left: 30%;
	width: 60%;
}

.input-container{
	border-radius: 10px;
  	border: 2px solid #E01A4F;
   	padding-bottom: 5%;
}

.random-container{
	border-radius: 10px;
  	border: 2px solid #E01A4F;
  	padding-bottom: 5%;
}

.image{
	text-align: center;
}

.image img{
	width: 40%;
	height: 50vh;
}
#user-code{
	color: #0C090D;
	font-size: 30px;
}

#user{
	height: 60px;
	text-align: center;
	font-size: 30px;
}

#code{
	width: 50%;
	text-align: center;
}

.game{
	display: none;
}

#board{
	padding-top: 60px;
	padding-left: 12%;
	width: 50%;
	height: 900px;
	background-color: blue;
}

.butt{
	font-size: 10px;
	font-size: 0.65vw;
	border: 3px solid white;
}

.drop{
	display: inline-block;
}

.cell{
	width: 11%;
	height: 8vh;
	border: 2px solid black;
	border-radius: 50%;
	background-color: white;
	display: inline-block;
	padding-left: 10%;
}

#styles{
	padding-left: 3%;
}

#dark{
	background-color: black;
	color: rgb(173, 255, 47);
	border: 3px solid white;
}

#light{
	background-color: blue;
	color: red;
	border: 3px solid white;
}

#vibrant{
	background-color: rgb(255, 128, 0);
	color: rgb(56, 132, 211);
	border: 3px solid white;
}

#winheader{
	display: none;
}

